.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
}

.loading-logo {
  max-width: 150px; /* Adjust size as needed */
  height: auto;
}
